:root {
    --footer-bg-color: #333;
    --header-bg-color: #333;
    --main-bg-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

header {
    background-color: var(--header-bg-color);
    color: white;
    top: 0 position: static;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    flex: 1;
}

footer {
    background-color: var(--footer-bg-color);
    color: white;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}