.graph-node {
    width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform;
}

.graph-node.selected {
    outline-style: solid;
    outline-color: var(--accent-color);
}

.graph-node__content {
    box-sizing: border-box;
    pointer-events: none;
}

.interact-rect {
    position: absolute;
    pointer-events: all;
    will-change: transform;
}

.interact-handle {
    position: absolute;
    border-radius: 100%;
    background-color: var(--accent-color);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

/* Edge handles */
.handle-n {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.handle-s {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.handle-e {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.handle-w {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Corner handles */
.handle-se {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
}

.handle-sw {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.handle-ne {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}

.handle-nw {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}