.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__trigger {
    background-color: transparent;
    color: white;
    padding: 10px 16px;
    box-sizing: border-box;
    height: 100%;
    cursor: pointer;
    font-size: 16px;
}

.dropdown__trigger:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
    min-width: 150px;
    z-index: 1000;
}

.dropdown__item {
    position: relative;
    padding: 4px 6px;
    cursor: pointer;
}

.dropdown__item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: initial;
}

.dropdown__item-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.dropdown__submenu-toggle {
    background: transparent;
    cursor: pointer;
    font-size: 12px;
}

.dropdown__submenu {
    position: absolute;
    top: 0;
    left: 100%;
    background: black;
    min-width: 150px;
    z-index: 1000;
}