@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*==== BOARD ====*/
.board-view-default {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.board-grid-default {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.board-content-view-default {
  width: 0;
  height: 0;
  position: relative;
  pointer-events: none;
  user-select: none;
}

.graph-node {
  overflow: hidden;
  border: 2px red solid;
  pointer-events: all;
}

.graph-node-content {
  box-sizing: border-box;
  pointer-events: none;
}